<!--<div class="gameBrowserDiv text-center col-xs-4 col-sm-3 col-md-2 " ng-repeat="GAME in data.games" ng-click="updateStreams(GAME.name)">-->
<div class=" text-center col-xs-4 col-sm-3 col-md-2 clickable" ng-repeat="GAME in data.games" ng-click="updateStreams(GAME.name)">
  <div class="gameBrowserDiv ">
    <img ng-src="{{GAME.box.large}}" class="img-responsive" >
    <h4 class="text-center gameTitle">{{GAME.name}}</h4>
    <span class="badge">{{GAME.popularity| number}} Viewers</span>
  </div>
</div>